.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-padding-small {
  padding: 2rem !important;
}

.u-padding-x-small {
  padding: 0 2rem !important;
}

.u-padding-y-small {
  padding: 2rem 0 !important;
}

.u-flex {
  display: flex !important;
}

.u-flex-direction-column {
  flex-direction: column !important;
}

.u-flex-justify-between {
  justify-content: space-between !important;
}

.u-flex-align-center {
  align-items: center !important;
}

.u-gutter-right-small {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}
