// COLORS VARIABLE
$primary-color: #eef6fb;
$secondary-color: #5fb0e8;
$color-white: #fff;
$color-black: #333;
$color-grey: #777;
$color-grey-dark: #45464b;
$color-grey-dark-2: #333;

// FONTS
$default-font-size: 1.6rem;
